.search-box {
  display: flex;
  align-items: center;
  background: white;
  border: 2px solid #e5e5e5;
  border-radius: 8px;
  padding: 4px 12px;
  width: 200px;
  height: 32px;
  box-sizing: border-box;
  margin-left: auto;
  margin-top: -40px;
  margin-right: 20px;
}

.search-box:focus-within {
  border-color: #4d8be3;
}

.search-icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  opacity: 0.6;
  flex-shrink: 0;
}

.search-input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 14px;
  background: transparent;
  height: 20px;
  line-height: 20px;
}

.search-input::placeholder {
  color: #999;
}

/* Mobil */
@media screen and (max-width: 768px) {
  .filters-search-wrapper {
    flex-direction: column;
    gap: 15px; /* Detta ska ge mellanrum på mobil */
  }

  .search-box {
    width: 30%;
    margin-top: 10px;
    align-content: center;
  }
}
